@page
@model homePageModel
@{
    ViewData["Title"] = "Home";
}

<div class="container mt-5 fade-in-1">
    <div class="row justify-content-center">

        <div class="col-lg-8 text-center fade-in-2">

            <h1 class="text-pink-dark mb-4 fade-in-3">Host Systems</h1>

            <p class="text-pink-dark lead fade-in-3">
                Providing the best queueing solutions for restaurants and staff.
            </p>

            <img src="~/Imgs/HOSTLogo.png"
                 alt="HOST Logo"
                 class="company-logo fade-in-4" />

        </div>

    </div>
</div>
