@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Restaurant Host System</h1>
    <p>You are logged in. Use the navigation menu above to access features.</p>
</div>
