@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<div class="container mt-5 fade-in-1">
    <div class="row justify-content-center">
        <div class="col-lg-6 fade-in-2">

            <div class="card card-pink shadow">
                <div class="card-body p-5 text-center">

                    <h2 class="text-pink-dark mb-4 fade-in-3">Log out</h2>

                    <p class="text-pink-dark lead fade-in-3">
                        You have successfully logged out of the application. TEST
                    </p>

                    <a asp-page="/Login" class="btn-primary btn-large w-100 mt-4 fade-in-4">
                        Login
                    </a>

                </div>
            </div>

        </div>
    </div>
</div>
